header .logo {
  margin-left: 0;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

h1.photographer-name {
  color: rgba(211, 87, 60, 1);
  font-size: 64px;
  font-weight: 400;
  margin: 36px 0px 5px 0px;
}
.photographer-address {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin: 10px 0px;
  font-style: normal;
}
.photographer-infos p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(82, 82, 82, 1);
  margin-top: 15px;
}
.contact_button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact_button-container :hover {
  background-color: #db8876;
  color: black;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button :hover {
  color: black;
}
.photographer-img {
  display: flex;
}
.photographer-img img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: circle(100px);
}
section.filter p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 49px;
  margin-top: 23px;
}
/****PHOTOGRAPHER FILTER*****/

.medias-filter {
  margin: 20px 0 56px;
}

.medias-filter_label {
  font-weight: 700;
}

.medias-filter_select {
  height: 60px;
  width: 170px;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 20px;
  cursor: pointer;
}
.hide {
  display: none;
}

.media {
  display: flex;
  flex-direction: row;
  gap: 95px;
  flex-wrap: wrap;
}
.media-card {
  width: 350px;
  height: 350px;
  color: #901c1c;
}
.media-card .media-container {
  width: 350px;
  height: 300px;
}
.media-card .media-container img,
.media-card .media-container video {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.media-card .media-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.media-info h4 {
  font-size: 24px;
  font-weight: 400;
}
.media-info i {
  margin-left: 3px;
}
.like-container {
  display: flex;
  align-items: center;
}
.btn-like {
  border: none;
  background-color: transparent;
  color: #901c1c;
  font-size: large;
}

#contact_modal {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.4);
  padding-top: 80px;
}
.likes-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 36px;
  font-size: 24px;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  -webkit-box-shadow: -3px 9px 34px -2px rgba(0,0,0,0.56); 
  box-shadow: -3px 9px 34px -2px rgba(0,0,0,0.56);
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}
