.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

h1.photographer-name {
  color: rgba(211, 87, 60, 1);
  font-size: 64px;
  font-weight: 400;
  margin: 36px 0px 5px 0px;
}
h4 {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin: 10px 0px;
}
.photographer-infos p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(82, 82, 82, 1);
  margin-top: 15px;
}
.contact_button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.photographer-img {
  display: flex;
}
.photographer-img img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: circle(100px);
}
.media {
  display: flex;
  flex-direction: row;
  gap: 95px;
  flex-wrap: wrap;
}
.media-card {
  width: 350px;
  height: 350px;
  color: #901c1c;
}
.media-card .media-container {
  width: 350px;
  height: 300px;
}
.media-card .media-container img,
.media-card .media-container video {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.media-card .media-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.media-info i {
  margin-left: 10px;
}

#contact_modal {
  display: none;
}
.likes-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 36px;
  font-size: 24px;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
